[Desktop Entry]
Type=Application
Version=1.0
Name=AetherXIV Core
Comment=Manage the local AetherXIV server
Exec=/opt/aetherxiv/core/app/AetherXIV.Core.App
TryExec=/opt/aetherxiv/core/app/AetherXIV.Core.App
Icon=/opt/aetherxiv/share/icons/hicolor/512x512/apps/org.aetherxiv.core.png
Terminal=false
Categories=Game;Utility;
StartupNotify=true
